.Fav{
    display: flex;
    background-color: rgb(15, 15, 15);
    height: 100vh;
}
 .btnf{
    margin-right: 10px;
    background-color: rgb(122, 102, 73);
    color: rgb(17, 17, 17);
    border-radius: 5px;
    padding: 5px;
    font-size:15px;
    font-weight: bold;
 }